# OS
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Node (para fases futuras con React)
node_modules/
.next/
dist/
build/
*.log

# Entorno / secretos (fases futuras)
.env
.env.local
.env.*.local
